/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


/* COLORS */
:root {
    /* Base Colors */
    --primary-color: #eb9400; /* Warm Orange */
    --secondary-color: #443089; /* Deep Purple */
    --tertiary-color: #ff585f; /* A soft red for contrast */
    
    /* Darker Variations */
    --primary-color-darker: #fa9a00; /* Darker Orange */
    --secondary-color-darker: #36256a; /* Darker Purple */
    --tertiary-color-darker: #c84a54; /* Darker Red */
    
    /* Transparent Variations */
    --primary-color-opacity: #ffa30564; /* Transparent Orange */
    --secondary-color-opacity: #44308933; /* Transparent Purple */
    --tertiary-color-opacity: #ff585f2d; /* Transparent Red */
    
    /* Gradients */
    --gradient-primary: linear-gradient(to top left, #eb9400, #ffcb03); /* Orange to Yellow */
    --gradient-secondary: linear-gradient(to top left, #443089, #6a4cd4); /* Purple to Lavender */
    --gradient-bg:linear-gradient(to top left, #ffcb03, #6a4cd4)

    /* Additional Colors */
    --bg-color: #f4f4f4; /* Light Gray Background */
    --text-color: #333333; /* Dark Text Color */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Shadow Color */
  }

/* BODY TEXT */
body {
    font-family: "Quicksand", sans-serif; 
    background-color:#fffefa;
    color: var(--text-color);
    margin: 0;
}
p {
    font-family: "Quicksand", sans-serif; 
    color:#353535;
    font-size: 1rem;
}

/* Container for each section */
.container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Form Elements */
input, textarea, select {
    font-family: "Quicksand", sans-serif;  
    font-size: 0.9rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
}
/* Heading */
/* -------------------------------------------------------------------------------------------------- */
/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: var(--bg-color);
    flex-wrap: wrap;
    margin-right: 1rem;
}

/* Container Header */
.container-header {
  max-width: 100%;
    gap: 2rem;
    display: flex;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.login-container{
  margin-right: 1rem;
}
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.313rem;
}
.menu-burger {
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--primary-color-darker);
  transition: all 0.3s ease;
}

/* Logo */
.logoImg {
  padding:0.5rem 1rem ;
    max-height: 4rem;
    width: auto;
}

/* Heading Links */
.head-links {
    list-style: none;
    display: flex;
    gap: 2.8rem;
    margin: 0;
    padding: 0 3rem;
}

.head-link:link, .head-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color-darker); 
    font-family: "Quicksand", sans-serif; 
    font-weight: bolder;
    font-size: 1.13rem;
    transition: all 0.3s;
}

.head-links a:hover {
    color: var(--primary-color); 
    border-radius: 0.25rem; 
    transition:all 0.3s ease; 
}

/* Log In Button */
.btn {
    font-family: "Quicksand", sans-serif;  
    font-size: 1.13rem;
    font-weight: bolder;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-color-darker);
   
}

/* Slider Styles */
/* --------------------------------------------------------------------------------------------------------------------------------- */

/* Slider Container */
.parent-slider {
  width: 100%; 
  height: 27.5rem;
  position: relative;
  overflow: hidden;
  margin-top: 0; 
  z-index: -1;
  padding: 0;
}

/* Individual Slides */
.child-slide {
  position: absolute;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 1s ease-in-out;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

/* Slide Content */
.slide-content {
  padding: 1.5rem;
  width: 100%;
  max-width: 40rem;
  background: rgba(255, 255, 255, 1); 
  border-radius: 20rem;
  text-align: center;
}
.slider-img{
  height: 20rem;
}
.child-slide {
  background-image: url('./assets/slider-bg-image.jpg');
}
.slide__header {
  color: var(--primary-color-darker);
  font-family:"Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 3.5rem;
}
/* .slide__header-2{
  color: var(--secondary-color);
} */

.slide__text {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--secondary-color);
  line-height: 1.6;
}
/* .slide__text-2{
  color: var(--primary-color-darker);
} */

/* Dots--position */
.dots {
  position: absolute;
  left: 50%;
  top: 34rem;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

/* Dots--size */
.dots__dot {
  border: none;
  background-color: var(--primary-color-opacity);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
}
.dots__dot:hover {
  transform: scale(1.2);
  background-color: var(--primary-color-darker);
}
.dots__dot--active {
  background-color: var(--primary-color-darker);
  opacity: 1;
}

/* Navigation Links : NAVIGATION THROUGH PAGE */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Navigation Links Container */
.nav-links{
  padding-top: 4rem;
}
.nav-links ul {
  display: flex; 
  justify-content: center; 
  gap: 1.5rem; 
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}

/* Individual Links */
.nav-links li {
  display: flex; 
}
.nav-icon{
  font-size: 1.1rem;
}
.nav-link {
  flex-direction: column;
  display: inline-flex; 
  justify-content: center; 
  align-items: center;
  text-decoration: none;
  background-color: var(--bg-color);
  color: #5A2994;
  width: 9rem; 
  height: 9rem; 
  border-radius: 100%; 
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 0.25rem 0.375rem var(--shadow-color); 
  transition: all 0.3s ease;
  text-align: center;
}

/* Hover Effects */
.nav-link:hover {
  background-color: var(--primary-color);
  color: #fff;
  transform: translateY(-0.188rem);
  box-shadow: 0 0.375rem 0.625rem var(--shadow-color);
}


/* Course Section */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Headings */

.section-headings {
  border-top:#dcc0ff 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  line-height: 1.2; 
  font-weight: 900;
  padding-top: 1rem;
  margin: 0;
  text-align: center;
  color:  #5A2994;
}
/* Tagline */
.tagline {
  margin: 0;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:var(--primary-color-darker);
  line-height: 1.5;
}
.heading-container{
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}
/* Courses Section Wrapper */
.courses {
  padding: 0.2rem;
}
/* course section button */
.course-categories-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-btn {
  cursor: pointer;
  font-size: 2rem;  
  color: #5f4aab; 
  line-height: 0; 
  transition: all 0.3s ease;
}

.scroll-btn:hover {
  transform: scale(1.05); 
  transition: all 0.3s ease;
  color: #7056ce;  
}

/* Course Categories */
.course-categories {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 0.5rem ;
  scroll-behavior: smooth;
}
.category {
  flex-shrink: 0;
  overflow: visible;
  padding: 0.8rem 1.2rem;
  white-space: nowrap;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color-darker);
  cursor: pointer;
  transition: all 0.3s ease;
}
.course-categories::-webkit-scrollbar {
 display: none;
}

.category:hover, .category.active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.4rem 0.8rem var(--shadow-color-darker);
  color: #ffffff;
  background-color: var(--primary-color);
}
/* -----------------------sub-category ---------------------*/
.course-sub-categories-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 90%;
  margin: auto;
}

.course-sub-categories {
  display: flex;
  font-family: "Roboto Slab", serif;
  gap:0.625rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
  overflow-x: auto;
}
.course-sub-categories::-webkit-scrollbar {
  display: none;
 }
.sub-category {
  min-width:max-content;
  position: relative; 
  cursor: pointer;
  padding: 0.5rem;
  color:  #433089b2;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  flex-shrink: 0;
}

.sub-category::after {
  content: ""; 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0.02rem; 
  background-color: var(--secondary-color); 
  transition: all 0.3s ease; 
}
.sub-category:hover, .sub-category.active{
  color:  var(--secondary-color);

}
.sub-category:hover::after, .sub-category.active::after{
  cursor: pointer;
  border-bottom:  var(--secondary-color) solid 0.063rem;
  width: 90%; 
}

/* --- */

/* Course Cards */
.course-cards {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto; /* Enables horizontal scrolling */
  scroll-snap-type: x mandatory; /* Optional, for snap scrolling effect */
  padding: 2rem 0; 
  justify-content: flex-start; /* Aligns the cards to the start */
}

.course-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 19rem; /* Adjust max width as needed */
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: var(--bg-light);
  padding: 1rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1rem;
  color: var(--primary-color);
  transition: all 0.3s ease;
  flex-shrink: 0; /* Prevents cards from shrinking */
  scroll-snap-align: start; /* Optional, for snap scrolling effect */
}

.course-cards::-webkit-scrollbar {
  display: none;
}

.in-detail{
  color: var(--secondary-color);
}
.course-details {
  padding: 0 0.938rem;
  padding-bottom:0.938rem;
  color: var(--secondary-color);
}
.course-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.course-description {
  font-size: 0.875rem;
  margin-top:0.625rem;
}

.course-meta p {
  font-size: 0.875rem;
  margin-top:0.313rem;
}

.course-footer {
  margin-top:0.938rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-rating span {
  font-size:0.875rem;
  color: #ffb400;
}

.demo-btn {
  max-width: auto;
  font-family: "Quicksand", sans-serif;  
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  cursor: pointer;
  transition: all 0.3s;
}

.demo-btn:hover {
  background-color: var(--primary-color-darker);
}
.course-card:hover {
  border: var(--secondary-color) solid 0.05rem;
  transform: translateY(-0.625rem);
  box-shadow: 0 0.4rem 0.8rem var(--shadow-color-darker);
}

/* Show More Link */
.show-more {
  display: block;          
  width: max-content;      
  margin:auto;       
  text-align: center;      
  padding: 0.7rem 1rem; 
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: var(--primary-color) 2px solid;         
  font-size: 1rem;  
  font-weight: 600;       
  border-radius: 0.5rem;  
  text-decoration: none;   
  transition: all 0.3s ease;
}
.show-more:hover {
  background-color: var(--primary-color); 
  color: white;   
  transform:scale(1.05);
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Registration Section */
/* ------------------------------------------------------------------------- */
.registration-form {
    display: flex;
    justify-content: space-between;
}

.registration-form .left,
.registration-form .right {
    width: 48%;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form button {
    margin-bottom: 1rem;
}

/* Trainer Profile Section */
/* -------------------------------------------------------------------------- */
.trainer-profile .trainer-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* Review Section */
/* -------------------------------------------------------------------------- */
.review-carousel {
    display: flex;
    justify-content: space-between;
}

.review-card {
    background-color: var(--bg-light);
    padding: 1rem;
    width: 48%;
}

.media-reviews {
    display: flex;
    gap: 2rem;
}

/* Footer */
/* -------------------------------------------------------------------------- */
.footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}

