/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* COLORS */
:root {
    /* Base Colors */
    --primary-color: #eb9400; /* Warm Orange */
    --secondary-color: #443089; /* Deep Purple */
    --tertiary-color: #ff585f; /* A soft red for contrast */
    
    /* Darker Variations */
    --primary-color-darker: #fa9a00; /* Darker Orange */
    --secondary-color-darker: #36256a; /* Darker Purple */
    --tertiary-color-darker: #c84a54; /* Darker Red */
    
    /* Transparent Variations */
    --primary-color-opacity: #ffa30564; /* Transparent Orange */
    --secondary-color-opacity: #44308933; /* Transparent Purple */
    --tertiary-color-opacity: #ff585f2d; /* Transparent Red */
    
    /* Gradients */
    --gradient-primary: linear-gradient(to top left, #eb9400, #ffcb03); /* Orange to Yellow */
    --gradient-secondary: linear-gradient(to top left, #443089, #6a4cd4); /* Purple to Lavender */
    --gradient-bg:linear-gradient(to top left, #ffcb03, #6a4cd4)

    /* Additional Colors */
    --bg-color: #f4f4f4; /* Light Gray Background */
    --text-color: #333333; /* Dark Text Color */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Shadow Color */
  }

/* BODY TEXT */
body {
    font-family: "Quicksand", sans-serif; 
    background-color:rgb(255, 255, 255);
    color: var(--text-color);
    margin: 0;
}
p {
    font-family: "Quicksand", sans-serif; 
    color:#353535;
    font-size: 1rem;
}

/* Container for each section */
.container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    padding:0 1rem;
    padding-bottom: 2rem;
}

/* Form Elements */
input, textarea, select {
    font-family: "Quicksand", sans-serif;  
    font-size: 0.9rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
}
/* Heading */
/* -------------------------------------------------------------------------------------------------- */
/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: #fffefa;
    flex-wrap: wrap;
    /* margin-right: 1rem; */
}

/* Container Header */
.container-header {
  max-width: 100%;
    gap: 2rem;
    display: flex;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.login-container{
  margin-right: 1rem;
}
/* Hamburger menu */
.hamburger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.313rem;
}
.menu{
  position: fixed;
  top: 0;
  right: -100%; 
  height: 100%;
  width:50%;
  background-color:#ffdfa5ef;
  color: white;
  transition: right 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 20px;
  z-index: 1000;
}
.menu-burger-open{
  display: none;
  margin-left: 1.5rem;
  font-size: 2rem;
  color: var(--primary-color-darker);
  transition: all 0.3s ease;
}

.menu-burger-close{
  display: none;
  align-self: flex-end;
  margin-left: 1rem;
  padding: 0;
  font-size: 2.3rem;
  color: var(--primary-color-darker);
  transition: all 0.3s ease;
}

.menu ul {
  list-style: none;
  padding: 0;
}
.menu ul li {
  margin: 20px 0;
}
.menu ul li a {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color-darker); 
  font-family: "Quicksand", sans-serif; 
  font-weight: bolder;
  font-size: 1.13rem;
  transition: all 0.3s;
}
.menu ul li a:hover{
  background-color: var(--secondary-color-darker);
  color: white;
}
/* Active menu state */
.menu.open {
  right: 0; 
}

/* Logo */
.logoImg {
  padding:0.5rem 1rem ;
    max-height: 4rem;
    width: auto;
}

/* Heading Links */
.head-links {
    list-style: none;
    display: flex;
    gap: 2.8rem;
    margin: 0;
    padding: 0 3rem;
}

.head-link:link, .head-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color-darker); 
    font-family: "Quicksand", sans-serif; 
    font-weight: bolder;
    font-size: 1.13rem;
    transition: all 0.3s;
}

.head-links a:hover {
    color: var(--primary-color); 
    border-radius: 0.25rem; 
    transition:all 0.3s ease; 
}

/* Log In Button */
.btn {
    font-family: "Quicksand", sans-serif;  
    font-size: 1.13rem;
    font-weight: bolder;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-color-darker);
   
}

/* Slider Styles */
/* --------------------------------------------------------------------------------------------------------------------------------- */

/* Slider Container */
.parent-slider {
  width: 100%; 
  height: 27.5rem;
  position: relative;
  overflow: hidden;
  margin-top: 0; 
  z-index: -1;
  padding: 0;
}

/* Individual Slides */
.child-slide {
  position: absolute;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 1s ease-in-out;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

/* Slide Content */
.slide-content {
  padding: 1.5rem;
  width: 100%;
  max-width: 40rem;
  background: rgba(255, 255, 255, 1); 
  border-radius: 20rem;
  text-align: center;
}
.slider-img{
  height: 20rem;
}
.child-slide {
  background-image: url('./assets/slider-bg-image.jpg');
}
.slide__header {
  color: var(--primary-color-darker);
  font-family:"Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 3.5rem;
}
/* .slide__header-2{
  color: var(--secondary-color);
} */

.slide__text {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--secondary-color);
  line-height: 1.6;
}
/* .slide__text-2{
  color: var(--primary-color-darker);
} */

/* Dots--position */
.dots {
  position: absolute;
  left: 50%;
  top: 34rem;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

/* Dots--size */
.dots__dot {
  border: none;
  background-color: var(--primary-color-opacity);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
}
.dots__dot:hover {
  transform: scale(1.2);
  background-color: var(--primary-color-darker);
}
.dots__dot--active {
  background-color: var(--primary-color-darker);
  opacity: 1;
}

/* Navigation Links : NAVIGATION THROUGH PAGE */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Navigation Links Container */
.nav-links{
  padding-top: 4rem;
}
.nav-links ul {
  display: flex; 
  justify-content: center; 
  gap: 1.5rem; 
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  margin-bottom: 2rem;

}

/* Individual Links */
.nav-links li {
  display: flex; 
}
.nav-icon{
  font-size: 1.1rem;
}
.nav-link {
  flex-direction: column;
  display: inline-flex; 
  justify-content: center; 
  align-items: center;
  text-decoration: none;
  background-color: var(--bg-color);
  color: #5A2994;
  width: 9rem; 
  height: 9rem; 
  border-radius: 100%; 
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 0.25rem 0.375rem var(--shadow-color); 
  transition: all 0.3s ease;
  text-align: center;
}

/* Hover Effects */
.nav-link:hover {
  background-color: var(--primary-color);
  color: #fff;
  transform: translateY(-0.188rem);
  box-shadow: 0 0.375rem 0.625rem var(--shadow-color);
}


/* Course Section */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Headings */

.section-headings {

  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  line-height: 1.2; 
  font-weight: 900;
  padding-top: 1rem;
  margin: 0;
  text-align: center;
  color:  #5A2994;
}
/* Tagline */
.tagline {
  margin: 0;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 550;
  color:var(--primary-color-darker);
  line-height: 1.5;
}
.heading-container{
  border-top:#7739c282 1px solid;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}
/* Courses Section Wrapper */
.courses {
  background-color: #fff7ee2d; 
  padding:0;
}
/* course section button */
.course-categories-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-btn {
  cursor: pointer;
  font-size: 2rem;  
  color: #5f4aab; 
  line-height: 0; 
  transition: all 0.3s ease;
}

.scroll-btn:hover {
  transform: scale(1.05); 
  transition: all 0.3s ease;
  color: #7056ce;  
}

/* Course Categories */
.course-categories {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 0.5rem ;
  scroll-behavior: smooth;
}
.category {
  flex-shrink: 0;
  overflow: visible;
  padding: 0.8rem 1.2rem;
  white-space: nowrap;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color-darker);
  cursor: pointer;
  transition: all 0.3s ease;
}
.course-categories::-webkit-scrollbar {
 display: none;
}

.category:hover, .category.active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.4rem 0.8rem var(--shadow-color-darker);
  color: #ffffff;
  background-color: var(--primary-color);
}
/* -----------------------sub-category ---------------------*/
.course-sub-categories-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 90%;
  margin: auto;
}

.course-sub-categories {
  display: flex;
  font-family: "Roboto Slab", serif;
  gap:0.625rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
  overflow-x: auto;
}
.course-sub-categories::-webkit-scrollbar {
  display: none;
 }
.sub-category {
  min-width:max-content;
  position: relative; 
  cursor: pointer;
  padding: 0.5rem;
  color:  #433089b2;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  flex-shrink: 0;
}

.sub-category::after {
  content: ""; 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0.02rem; 
  background-color: var(--secondary-color); 
  transition: all 0.3s ease; 
}
.sub-category:hover, .sub-category.active{
  color:  var(--secondary-color);

}
.sub-category:hover::after, .sub-category.active::after{
  cursor: pointer;
  border-bottom:  var(--secondary-color) solid 0.063rem;
  width: 90%; 
}

/* --- */

/* Course Cards */
.course-cards {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  padding: 2rem 0; 
  justify-content: flex-start; 
}

.course-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 19rem; 
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #fffdfa;
  padding: 1rem;
  box-shadow: 0 0.3rem 0.6rem var(--shadow-color);
  font-size: 1rem;
  color: var(--primary-color);
  transition: all 0.3s ease;
  flex-shrink: 0; 
  scroll-snap-align: start; 
}

.course-cards::-webkit-scrollbar {
  display: none;
}

.in-detail{
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 700;
  color: var(--primary-color-darker);
}
.course-details {
  padding: 0 0.938rem;
  padding-bottom:0.938rem;
  color: var(--secondary-color);
}
.course-title {
  font-family: "Ubuntu", sans-serif;

  text-align: center;
  font-weight: 900;
  border-bottom:  #433089a5 1px solid;
  padding-bottom: 0.3rem;
  border-radius: 5px;
  color: var(--secondary-color);
  margin: 1rem 0;
}
.course-description {

  text-align: center;
  font-family: 'Quicksand';
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color:  var(--secondary-color);
  margin-bottom: 0.5rem;
}

.course-meta p {
  color: var(--secondary-color);
  font-weight: 500;
  margin-top:0.313rem;
}

.course-footer {
  margin-top:0.938rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-rating span {
  font-size:0.875rem;
  color:#433089;
}

.demo-btn {
  max-width: auto;
  font-family: "Quicksand", sans-serif;  
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  cursor: pointer;
  transition: all 0.3s;
}

.demo-btn:hover {
  background-color: var(--primary-color-darker);
}
.course-card:hover {
  background-color: #fff;
  border-bottom:#eb9400 solid 2px;
  transform: translateY(-0.625rem);
  box-shadow: 0 0.4rem 0.8rem var(--shadow-color-darker);
}

/* Show More Link */
.show-more {
  display: block;          
  width: max-content;      
  margin:auto;       
  text-align: center;      
  padding: 0.7rem 1rem; 
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: var(--primary-color) 2px solid;         
  font-size: 1rem;  
  font-weight: 600;       
  border-radius: 0.5rem;  
  text-decoration: none;   
  transition: all 0.3s ease;
}
.show-more:hover {
  background-color: var(--primary-color); 
  color: white;   
  transform:scale(1.05);
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Registration Section */
/* ------------------------------------------------------------------------- */
/* Registration Form */
.registration {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 1, 0.1);
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
   align-items: center; 
  justify-content: center; 
}

.registration-type {
  text-align: center;
  color:var(--primary-color);
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
.form-group {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-bottom: 20px;
  
}
.form-group label {
  flex: 1;
  width: 100%;
  max-width: 100%; 
  /* margin-right: 10px; */
  font-size: 16px;
  color:var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  /* margin-right: 3rem; */
}

.form-group input,
.form-group select,
.form-group textarea{
  flex: 1;
  padding: 14px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: #333;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  transition: all 0.3s ease-in-out;
  margin: 0;
}
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color:var(--primary-color-darker);
  box-shadow: 0 0 5px var(--primary-color-darker);
}
.form-group textarea {
  resize: vertical;
}

.form-group input[type="checkbox"] {

  width: auto;
  max-width: 70%;
  margin-right: 10px;
}
.form-group input[type="file"], .form-group select[id="qualification"], button.dropdown-button{
  width: 100%;
  max-width: 100%; 
  flex: 1;
}
.form-group small {
  font-size: 14px;
  color: #888;
  font-family: "Roboto", sans-serif;
}
/* checkbox dropdown */
/* Dropdown styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  width: 100%;
  text-align: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
}

/* Search input inside the dropdown */
.search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Checkbox styling */
.dropdown-content label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--secondary-color);
}

.dropdown-content input[type="checkbox"] {
  margin-right: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-button:focus + .dropdown-content,
.dropdown-button:active + .dropdown-content {
  display: block;
}

/* Trainer Profile Section */
/* -------------------------------------------------------------------------- */

.trainer-profile{
  background-color:  #fff7ee2d; 
}
/* trainer profile Cards */
.trainer-cards {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  padding: 1.5rem 0; 
  justify-content: flex-start; 
}

.trainer-card { 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 25rem; 
  cursor: pointer;
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #fffefa;  padding: 1rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1rem;
  color: var(--primary-color);
  transition: all 0.3s ease;
  flex-shrink: 0; 
  scroll-snap-align: start;
}

.trainer-cards::-webkit-scrollbar {
  display: none;
}
.trainer-card:hover {
  background-color: #fff;
  transform: translateY(-5px);
}
    /* Trainer Image */
    .trainer-card img {
      width: 11rem;
      height: 11rem;
      object-fit: cover;
      border-radius: 100%;
      border: 3px solid #433089b2;
    }
    .trainer-name {
      font-family: "Ubuntu", sans-serif;
      font-size: 2rem;
      padding: 0;
      font-weight: 900;
      color: var(--primary-color);
      margin: 1rem 0;
    }
    
    .trainer-title {
      background-color: #e7e0ff;
      font-size: 1.2rem;
      padding: 0.3rem;
      border-radius: 5px;
      color: var(--secondary-color-darker);
      font-weight: 600;
      margin: 0.1rem 0;
    }
    
    .trainer-bio {
      font-size: 1rem;
      font-weight: 450;
      color: var(--secondary-color);
      margin-bottom: 0.5rem;
    }
    .trainer-details{
      text-align: left;
    }
    .trainer-details p{
      color: var(--primary-color);
      font-weight: 500;
    }
  .trainer-side-heading {
      font-size: 1.1rem;
      margin-top: 1rem;
      color: var(--secondary-color);
    }
    
  .trainer-courses-list {
    
      list-style: none;
      margin: 0.5rem 0;
    }
  
    .trainer-courses-list li {
      display: inline-flex;
      margin: 0.3rem 0;
      font-size: 0.95rem;
    }
    
   .trainer-inner-text{
      font-size: 0.95rem;
    }
    
    .trainer-cta {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
    }

/* ---------------------------------------- */

/* Review Section */
/* -------------------------------------------------------------------------- */
.review-carousel {
    display: flex;
    justify-content: space-between;
}

.review-card {
    background-color: var(--bg-light);
    padding: 1rem;
    width: 48%;
}

.media-reviews {
    display: flex;
    gap: 2rem;
}

/* Footer */
/* -------------------------------------------------------------------------- */
.footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}

